html {
  background-color: #ffffff;
  background-image: url("topography.svg");
}

body {
  margin: 0 auto;
  font-family: "Segoe UI", sans-serif;
  color: #999;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 0 1px solid rgba(255, 255, 255, 0.77);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1800px;
}

.nav {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}

.nav a:hover {
  outline: 2px solid lightpink;

  outline-offset: 12px;
}

.hero {
  background-image: url("mountains.jpg") alt="black and white mountains";
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin: 0;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.content {
  padding: 140px 20px;
  max-width: 900px;
  margin: 0 auto;
  color: black;
}

.content h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: black
}

.content p {
  font-size: 16px;
  line-height: 1.6;
}

.form-section {
  width: 65%;
  background-color: #eee;
  padding: 20px 20px 40px;
  margin: 0 auto 100px;
}

.form-section h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
  color: black;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  font-family: inherit;
}

input::placeholder,
textarea::placeholder {
  color: #5a5a5a;
}



.submit-btn {
  background-color: #0077cc;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

textarea:focus {
  outline: 2px solid #0077cc;
}

.footer {
  margin-top: auto;
  background-color: #333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}



.icon {
  font-size: 24px;
  margin-right: 10px;
}